<h1>{{era}}</h1>

{{#if isEditing}}

  <form>
    <div class="form-group">
      <label for="era">Era</label>
      {{input value=era id="era" class="form-control"}}
    </div>

    <button class="btn btn-primary" {{action 'save'}}>Save</button>
  </form>
  {{else}}
  <!-- <p>{{body}}</p> -->

  <button class="btn btn-primary" {{action 'edit'}}>Edit</button>
{{/if}}

{{outlet}}

<h2>Up For Auction:</h2>

{{#each item in items itemController="item"}}

  <ul class="hidden-ul">
    <li><p>{{#link-to 'item' item.id}}Year: {{item.year}}{{/link-to}}</p></li>
    <li><img {{bind-attr src=item.image }} style="width:250px;length:250px"></li>
    <li><p>Model: {{item.type}}</p></li>
    <li><p>Starting Price: ${{item.price}}</p></li>
    <button class="btn btn-xs btn-danger" {{action 'delete'}}>Remove</button>
  </ul>

    <hr>
{{/each}}


{{#link-to 'new-item' this class="btn btn-success"}}New Vanagon:{{/link-to}}
