<h1>{{era}} Era</h1>

<!-- {{#if isEditing}}

  <form>
    <div class="form-group">
      <label for="era">Era</label>
      {{input value=era id="era" class="form-control"}}
    </div>

    <button class="btn btn-primary" {{action 'save'}}>Save</button>
  </form>
  {{else}}

  <button class="btn btn-primary" {{action 'edit'}}>Edit</button>

{{/if}} -->

{{outlet}}

<h1>Up For Auction:</h1>

{{#each item in items itemController="item"}}

  <ul class="hidden-ul">
    <li>{{#link-to 'item' item.id}}<img {{bind-attr src=item.image }} style="width:250px;length:250px">{{/link-to}}</li>
    <li>{{#link-to 'item' item.id}}click for more info{{/link-to}}</li>
    <li>Year: {{item.year}}</li>
    <li>Model: {{item.type}}</li>
    <li>Starting Price: ${{item.price}}</li>
    <button class="btn btn-xs btn-danger" {{action 'delete'}}>Remove</button>
  </ul>

    <hr>
{{/each}}


{{#link-to 'new-item' this class="btn btn-info"}}New Vanagon:{{/link-to}}
